@model ATM_Interface_Core.Models.BalansViewModel

@{
    ViewData["Title"] = "Balans";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableMoney)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableMoney)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <a asp-action="Operations">Back to operations</a> |
    <a asp-action="CardNumber">Exit</a>
</div>
